*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  color: var(--text-color-secondary);
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--secondary);
}
