.d-flex {
  display: flex;
}

.jcc {
  display: flex;
  justify-content: center;
}
.jcsb {
  display: flex;
  justify-content: space-between;
}

.aic {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}